* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './varibles';

.wrap {
  // border: 5px solid red;

  .header-contents {
    background-color: rgba(255, 0, 0, 0.612);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .log {
      // background-image: url('../assets/Images/headerImage/creditCard.jpeg');
      // height: 50px;
      img {
        width: 80px;
      }
    }
  
    nav {
      // border: 10px solid blue;
  
      ul {
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 30px;
          list-style: none;
  
          a {
            border: 1px solid  $myPrimaryColor;
            border-radius: 8px;
            text-decoration: none;
            padding: 10px 25px;
            color:  $myPrimaryColor;
          }
  
          a:hover {
            background-color:  $myPrimaryColor;
            color: rgba(255, 0, 0, 0.612);
          }
        }
      }
    }
  }

  .moving-animation {
    // border: 1px solid blue;
    background-color: $myPrimaryColor;
   
    h1 {
      width: 100%;
      color: rgba(0, 0, 0, 0.728);
      text-shadow: 3px 3px 5px rgb(255, 0, 0);
      padding: 10px 5px;
      font-size: 50px;
    }
  }
}



